<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="Connection" connectionString="data source=tcp:eau5bkmdem.database.windows.net,1433;initial catalog=recipies;user id=sqladmin@eau5bkmdem;password=123x456!" providerName="System.Data.SqlClient" />
    <add name="ConnectionConfig" connectionString="server=0a1edf98-3fa2-408e-89ba-a21b00c0e6ae.sqlserver.sequelizer.com;database=db0a1edf983fa2408e89baa21b00c0e6ae;user id=sdrhfiojulwnbnnd;password=vRVRUSsczN5VU3R57dyeY8ucKsMAQYHpjvfdWnm8WNYExVJ5T8FahBrwwTgBeZtJ" providerName="System.Data.SqlClient" />
    <add name="RecipiesEntities" connectionString="metadata=res://*/RecipiesModel.csdl|res://*/RecipiesModel.ssdl|res://*/RecipiesModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=tcp:eau5bkmdem.database.windows.net,1433;initial catalog=recipies;user id=sqladmin@eau5bkmdem;password=123x456!;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" /></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.1.0.0" newVersion="5.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="MySql.Data" publicKeyToken="c5687fc88969c44d" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.5.4.0" newVersion="6.5.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DotNetOpenAuth.AspNet" publicKeyToken="2780ccd10d57b246" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
