<!DOCTYPE html>
<html>
    <head>
        <title>@Page.Title</title>
        <link rel="shortcut icon" type="image/x-icon" href="~/Content/favicon.ico" />
        <link href="~/Content/CssBundle.min.css" rel="stylesheet" />
        <script src="~/Scripts/JsBundle.min.js"></script>
    </head>
    <body>
        @RenderBody()
    </body>
</html>
