<!DOCTYPE html>
<html>
    <head>
        <title>@Page.Title</title>
        <link href="~/Content/kendo.blueopal.min.css" rel="stylesheet" />
        <link href="~/Content/kendo.common.core.min.css" rel="stylesheet" />
        <link href="~/Content/kendo.common.min.css" rel="stylesheet" />
        <link href="~/Content/kendo.dataviz.blueopal.min.css" rel="stylesheet" />
        <link href="~/Content/MyStyleSheet.css" rel="stylesheet" />
        <script src="~/Scripts/JQuery/jquery-2.1.0.min.js"></script>
        <script type="text/javascript">
            $(document).ready(function () {
                $("label").addClass("k-label");
                $("input[type=text]").addClass("k-textbox");
                $("input[type=password]").addClass("k-textbox");
                $("input[type=submit]").addClass("k-button");
            });
        </script>
    </head>
    <body>
        @RenderBody()
    </body>
</html>
