<!DOCTYPE html>
<html>
    <head>
        <title>@Page.Title</title>
        <link href="~/Content/kendo.blueopal.min.css" rel="stylesheet" />
        <link href="~/Content/kendo.common.core.min.css" rel="stylesheet" />
        <link href="~/Content/kendo.common.min.css" rel="stylesheet" />
        <link href="~/Content/kendo.dataviz.blueopal.min.css" rel="stylesheet" />
        <link href="~/Content/MyStyleSheet.css" rel="stylesheet" />
        <script src="~/Scripts/JQuery/jquery-2.1.0.min.js"></script>
        <script src="~/Scripts/kendo.culture.en-IE.min.js"></script>
        <script src="~/Scripts/kendo.EVERYTHING.2014.1.318.min.js"></script>
        <script src="~/Scripts/modernizr.2.6.2.js"></script>
        <script src="~/Scripts/MyJavaScript.js"></script>
    </head>
    <body>
        @RenderBody()
    </body>
</html>
